<html>

<head>

	<title> Engineering Wine Society</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
	 
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index" id='EWS'>Back</a>
      
      <ul class="nav navbar-nav navbar-left" id="Drop">
        <li class="dropdown">

      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Next Meeting on Tuesday, February 10, 2015<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
           <li><a href="#">Turn Meeting On</a></li>

           <li><a href="#">Edit Meeting Time</a></li>
          </ul>
        </li>
      </ul>      <!--
      <form action="/index">
      <input type="submit">
      </form>
      -->


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->


      <!--
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->

      <ul class="nav navbar-nav navbar-right" id="Drop">
        <li><a href="/admin_sign_up">Member Sign Up</a></li>
        <li><a href="/admin_enter_wine">Add Wines</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ADMIN<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container-fluid">
 
  <div class = "space">

  </div>

  <div class = "space">

  </div>


  <script  type="text/javascript" src="js/jquery.min.js"></script>

  <script  type="text/javascript" src="js/bootstrap.min.js"></script>
	<!--
  <script  type="text/javascript" src="js/EWS.js></script>
  -->

 <div class="row">
	{{#each thiswine}}
   
   <div class= "col-md-4"><center><img src="{{url}}" alt="Smiley face" height="300" width="300"></center></div>
   <div class="col-md-8"> <h1><center>{{name}}</h1></center></div>
   <div class= "col-md-4"></div>
   <div class="col-md-8"> <center><h1>{{varietal}}</h1></center></div>

	 <div class= "col-md-4"></div>
   <div class="col-md-8"> <center><h1>{{vineyard}}</h1></center></div>

   <div class= "col-md-4"></div>

    <div class="col-md-8"> <center><h1><div class="rating"><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span></div></h1></center></div>
   {{/each}}



 </div>
 <div class="row">
  	 {{#each thiswine}}
		 <div class= "col-md-4">
      <form id="form{{id}}" method="get" action="/admin_delete_wine" >
		 
		 
   
   <input type="hidden" name="wine" value="{{name}}" ></input>
	 <button class="btn btn-danger" id="button{{id}}" >Delete Wine</button>

	 </form>
	 	<script type="text/javascript">
			  $("#button{{id}}").click(function(e){
														console.log("selected form  button{{id}} and form{{id}}");
														
														if( confirm("Are you sure you want to delete\n{{name}}\nFrom the AllWines")){
														  $("#form{{id}}").submit();
														}
														else{	
                              alert("Wine will not be deleated");
															e.preventDefault();
														}

				              });
			
			</script>
			</div>
			<div class= "col-md-4">
      <form id="form2{{id}}" method="post" action="/admin_post_wine" >
		 
		 
   
   <input type="hidden" name="name" value="{{name}}" ></input>
   <input type="hidden" name="varietal" value="{{varietal}}" ></input>
   <input type="hidden" name="vineyard" value="{{vineyard}}" ></input>
   <input type="hidden" name="url" value="{{url}}" ></input>
	 <button class="btn btn-primary" id="button2{{id}}" >Post For Rating</button>

	 </form>
	 	<script type="text/javascript">
			  $("#button2{{id}}").click(function(e){
														console.log("selected form  button2{{id}} and form2{{id}}");
														
														if( confirm("Are you sure you want to allow rating for\n{{name}}")){
														  $("#form2{{id}}").submit();
														}
														else{	
                              alert("Wine will not be posted for Rating");
															e.preventDefault();
														}

				              });
			
			</script>
			</div>
   <div class= "col-md-4">
	  <form id="form3{{id}}" method="post" action="" >
		 
		 
   
   <input type="hidden" name="name" value="{{name}}" ></input>
 	 
	 <button class="btn btn-info" id="button3{{id}}" >Change Image</button>

	 </form>
	 	<script type="text/javascript">
			  $("#button3{{id}}").click(function(e){
														console.log("selected form  button3{{id}} and form3{{id}}");
														
														
                              alert("Development In Progress");
															e.preventDefault();
														

				              });
			
			</script>
	 
	 
	 
	 
	 </div>


	 {{/each}}


 </div>
 



</div>






  </body>






</html>
